
  @import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

*{
    font-family: 'Kalam', cursive;
}



.login-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.login_header{

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login_header img{
    width: 250px;
}

.login_header h1{
    color: #333;
    font-size: 1.5em;
}

.login_input{
    border: 2px solid #333;
    border-radius: 8px;
    color:#333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
    text-align: center;
}

input::placeholder {
    text-align: center;
  }


.login_button{
background-color: #86452d;
border-radius: 8px;
color: #fff;
cursor: pointer;
font-size: 1em;
max-width: 300px;
padding: 15px;
width: 100%;

}

.login_button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;

}

@keyframes swing {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
  }
  
  img {
    animation: swing 2s ease-in-out infinite alternate;
  }
